*, html 
{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    color: #bbb;
}

/* Navbar CSS */

.navbar-nav 
{
    margin-left: 80%;;
}

.nav-link
{
    font-size: 14px;
}

/* Project Cards CSS */

#projects-section
{
    height: 120vh;
}

.card
{
    width: 33%;
}

/* Footer CSS */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.site-footer h6
{
  font-size:16px;
  text-transform:uppercase;
  margin:5px 0px 20px 0px;
  text-align: right;
}

.site-footer a
{
  color:#737373;
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align: center;
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.social-icons
{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.github:hover
{
  background-color: gray
}

.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.copyright-text {
    color: #bbb;
    font-size: 10px;
    text-align: center;
}
